*.py[cod]
*.py#
.#*.py

# rope config
.ropeproject

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*~

.DS_Store
*.npz

# latex stuff
*.aux
*.dvi
*.log
*.out
*.prv
*.bbl
*.blg
*.swp
*.fmt
_region_.tex
*.swn
*.swo

# ignore debug plots
job_*_fit.png
job_*_ac.png
validation.pdf
comparison.pdf
job_*_fit.pdf